<body class="splash-page">





<div class="row big-logo">
    <p><%= image_tag "phishbowl-full-logo.png" %></p>
</div>

<div class="row">
  <h3 class="show-for-small">How it works<hr/></h3>

  <div class="panel phishbowlpanel">
    <h4 class="hide-for-small">How it works<hr/></h4>
    <h5 class="subheader">Phantasy Phishbowl is an epic game setlist speculation for Phans of the band Phish. This site is currently a work in progress, and will eventually allow users to submit picks for upcoming shows. Check back for updates, but for now, try your luck with a random concert!</h5>
  </div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to "Enter!", dashboard_index_path, class: "button radius enter" %>
  </div>
</div>

</body>
