<body class="splash-page">

  <div class="row big-logo">
      <p><%= image_tag "phishbowl-full-logo.png" %></p>
  </div>

  <div class="row">
    <h3 class="show-for-small">How it works<hr/></h3>

    <div class="panel phishbowlpanel">
      <h4 class="hide-for-small">How it works<hr/></h4>
      <h5 class="subheader">
        Phantasy Phishbowl is an epic game of setlist speculation for Phans of the band Phish. Users try and guess what songs the band will play before a given show, and are awarded points accordingly. When Phish is on tour, freinds will be able to compete with eachohter making picks. Check back for updates, but for now, try your luck with a recent concert!
        </h5>
    </div>

  <div class="row">
    <div class="large-12 columns">
      <%= link_to "Enter!", dashboard_index_path, class: "button radius enter" %>
    </div>
  </div>

</body>
