<body class="splash-page">





<div class="row">
  <div class="large-12 columns welcome">
    <h1>Welcome to Phantasy Phishbowl!</h1>
  </div>
</div>

<div class="row">
  <div class="row">
    <hr>
    <div class="large-8 columns intro">
      <h4>About</h4>
      <p>Phantasy Phishbowl is a game for Phisheads hoping to prove just how well they know the history and setlists of the band Phish.</p>
      <i class="fi-social-twitter"></i>
    </div>
    <div class="large-4 columns">
      <%= link_to "Enter!", dashboard_index_path %>
    </div>
  </div>


</div>


</body>
