<body class="splash-page">





<div class="row big-logo">
    <p><%= image_tag("phishbowl-full-logo.png") %></p>
</div>

<div class="row">
  <hr>
  <div class="large-12 columns intro">
    <h4>Welcome to Phantasy Phishbowl!</h4>
    <p>Prove your worth as the world's nerdiest Phishead in Phantasy Phishbowl: a game for testing your knowledge of the rock band Phish through the ages.</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <%= link_to "Enter!", dashboard_index_path, class: "button radius enter" %>
  </div>
</div>

</body>
